#toolbar button, #toolbar select {
    font-size: 16px;
    padding: 6px 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
}

#toolbar button:hover, #toolbar select:hover {
    background-color: #666;
    cursor: pointer;
}
label {
    font-family: Arial, Helvetica, sans-serif;
}

.cesium-infoBox-title {
    font-size: 20px;
}

.cesium-infoBox-description {
    font-size: 16px;
}

.custominfo {
    font-size: 16px;
}

table.storm-entry-description th {
    text-align: left;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-bottom: 2px;
    vertical-align: middle;
    border-radius: 4px;
}